<!DOCTYPE HTML>
<!--
	Photon by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>{{ title | default("Justin Joshi's Portfolio") }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="/assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">

	{{ content | safe }}

	<!-- Footer -->
	<section id="footer">
		<ul id="contact" class="icons">
			<li><a href="https://x.com/JustinJoshi76" class="icon brands alt fa-twitter"><span
						class="label">Twitter</span></a></li>
			<li><a href="https://github.com/JustinJoshi" class="icon brands alt fa-github"><span
						class="label">GitHub</span></a></li>
			<li><a href="https://www.linkedin.com/in/justinjoshi/" class="icon brands alt fa-linkedin"><span
						class="label">LinkedIn</span></a></li>
			<li><a href="mailto:JustinJoshi@proton.me" class="icon solid alt fa-envelope"><span
						class="label">Email</span></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; Justin Joshi</li>
		</ul>
	</section>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.scrolly.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>

</body>

</html>
